@import '../../sass/mixins.scss';
@import '../../sass/typography.scss';
@import '../../sass/variables.scss';

.home{
    color: $color-primary;
    // background-color: greenyellow;

    &__hero{
        display: flex;

        position: relative;

        @include response (phone){
            flex-direction: column;
        }

        .small-img{
            height: 26.7rem;
            width: 21.72rem;

            position: absolute;
            left: 63rem;
            top: 10rem;
            z-index: 111;

            @include response(big-desktop){
                left: 80rem;
            }
            @include response (desktop){
                left: 80rem;
            }
            @include response (tab-port){
                left: 65rem;
            }

            @include response (phone){
                display: none;
            }

            img{
                height: 100%;
                object-fit: contain;
            }
        }

        &--content-container{
            flex: 1 1 0px;
            padding: 6.1rem;

            .hashtag{
                display: block;
                font-family: sans-serif;
                font-size: 2.4rem;
                margin-top: 3rem;
                margin-bottom: 2rem;
            }
        }
        &--image-contianer{
            flex: 1 1 0px;

            @include response(phone){
                display: none;
            }

            .img-box{
                height: 66.951rem;
                width: 100%;
                overflow: hidden;

                display: flex;
                justify-content: end;

                @include response(phone){
                    height: min-content;
                }

                .img{
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    &__collection{
        height: 48.6rem;
        background-color: $color-primary;
        margin-top: -6rem;

        display: flex;
        gap: 3.5rem;

        @include response(phone){
            margin-top: 0;

            flex-direction: column;
            gap: 0;
        }

        &--heading-container{
            flex: 1 1 0px;
            padding: 6.1rem;
            color: $color-white;
            
        }
        &--description-container{
            flex: 1 1 0px;
            align-self: flex-end;
            padding: 6.1rem;
            color: $color-white;

            @include response(phone){
                padding-top: 0;
            }
            
        }
    }

    &__our-plants{
        padding: 3.8rem 6.1rem;
        background-color: $color-secondary;

        display: grid;
        grid-template-columns: repeat(2, [col-start] 1fr [col-end]);
        grid-gap: 3.5rem;

        @include response(phone){
            grid-template-columns: [col-start] 1fr [col-end];
            grid-gap: 0;
        }

        &--col-left{
            grid-column: col-start 1 / col-end 1;

            @include response(phone){
                grid-column: col-start / col-end;
            }

            .img-container{
                height: 50.5rem;
                width: 51.5rem;

                margin-top: -18.7rem;
                margin-bottom: 10.2rem;

                @include response(phone){
                    margin-top: 0;
                    width: 100%;
                    height: 65rem;
                }

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .card-container-left{
                margin-top: 10rem;
            }
        }
        &--col-right{
            grid-column: col-start 2 / col-end 2;

            @include response(phone){
                grid-column: col-start / col-end;
            }

            .shop-now-container{
                @include response(phone){
                    display: none;
                }
            }

            .card-container-right{
                margin-top: 25rem;

                @include response(phone){
                    margin-top: 0;
                }
            }

        }
    }

    &__featured{
        padding: 3.8rem 6.1rem;
    }

    &__contact{
        
    }
}