@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');

@import './sass/mixins.scss';
@import './sass/typography.scss';
@import './sass/variables.scss';

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; // 10px
    scroll-behavior: smooth;

    
    @include response(big-desktop){
        font-size: 70%;
    }
    @include response (desktop){
        font-size: 50%;
    }
    @include response (tab-port){
        font-size: 40%;
    }
    @include response (vp-800){
        font-size: 35%;
    }
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    max-width: 192.0rem;
    margin-inline: auto;
}
