@import '../../../sass/mixins.scss';
@import '../../../sass/typography.scss';
@import '../../../sass/variables.scss';

.blogs-section{
    padding: 6.1rem 6.1rem 8rem 6.1rem;
    color: $color-white;
    background-color: $color-primary;

    .card{
        padding: 0 2rem;
        margin: 0;
    }
}